# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Flutter
frontend/build/
frontend/.dart_tool/
frontend/.packages
frontend/.pub/
frontend/pubspec.lock

# IDEs
.idea/
.vscode/
*.swp
*.swo

# MacOS
.DS_Store
